* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fbb6c4;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

#winner {
  transition: color 0.3s ease;
}

.play-area {
  display: grid;
  box-shadow: 0 0 20px rgba(247, 160, 184, 0.85);
  grid-template-columns: repeat(3, auto);
  background-color: #fae9d7;
  padding: 20px;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid pink;
  color: #000000;
  transition: background 0.2s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: #fbb6c4;
}

.occupied:hover {
  background: #fae9d7;
  }

.win {
  background: #faf5ec;
    color: #f7a0b8;
}

.win:hover {
  background: #faf5ec;
}

#block_0, #block_1, #block_2 { border-top: none; }
#block_0, #block_3, #block_6 { border-left: none; }
#block_6, #block_7, #block_8 { border-bottom: none; }
#block_2, #block_5, #block_8 { border-right: none; }

button {
  outline: none;
  background: rgba(247, 160, 184, 0.85);
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: bold;
  color: #fae9d7;
  border: none;
  transition: all 0.2s ease-in-out;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  background: pink;
  color: white;
}

.playerWin { color: green; }
.computerWin { color: red; }
.tie { color: yellow; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
  
    
